<!-- request-access.component.html -->
<div class="container-fluid text-center " *ngIf="!isAccessApproved">
    <button class="btn btn-primary me-1 " *ngIf="!isAccessRequested" (click)="onRequestAccess('RESPONSABLE_DONEES')">Request Admin Access</button>
    <p *ngIf="isAccessRequested">Access request pending approval.</p>
    <button  class="btn btn-primary me-1" *ngIf="isAccessApproved && !showPendingRequests" (click)="onShowPendingRequests()">Show Pending Requests</button>
    <div *ngIf="showPendingRequests">
      <!-- Display the list of pending requests here -->
      <ul>
        <li *ngFor="let request of pendingRequests">{{ request.username }}</li>
      </ul>
    </div>
  </div>
  